<div class="jumbotron">
    <h1>Week 7 Capstone: Product API</h1>
    <p class="lead">/api/product - returns an array of product ID's and names from the database</p><br />
    <p class="lead">/api/product?id={productID} - returns an object with all the product info, returns null if productID is invalid.</p><br />
    <p class="lead">/api/category - returns an array of products (with details), which contain a valid category ID</p><br />
    <p class="lead">/api/category?id={productID} - returns an array of products containing the specified category ID, products return with all their info, returns null if category ID is invalid.</p><br />
    <p class="lead">/api/supplier - returns an array of products (with details), which contain a valid supplier ID</p><br />
    <p class="lead">/api/supplier?id={supplierID} - returns an array of products containing the specified supplier ID, products return with all their info, returns null if supplier ID is invalid.</p><br />

</div>
